{% if admin.hasRoute('import') and admin.hasRoute('upload') and admin.isGranted('EXPORT') %}
    <li><a class="sonata-action-element" href="{{ admin.generateUrl('upload') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ "label_import"|trans({}, "SigmapixSonataImportBundle") }}</a></li>
{% endif %}
